body
	{
		background-color: #FFF4D7;
	}
h6
	{
		text-align: right;
	}
header
	{
		text-align: center;
	}
.img-eve
	{
		height: 250px;
	}
.img-saat
	{
		height: 250px;
	}
.line
	{
		width: 275px;
		margin: 3px;
	}
.div-int-msc
	{
		margin: 30px;
		text-align: right;
		max-width: 600px;
	}
.ul-int	
	{
		list-style-type: none;
		margin: 3px;
	}
.img-flag
	{
		vertical-align: middle;
		height:18px;
	}
.div_main
	{
		margin-top: 5px;
		margin-left: 5px;
		max-width: 600px;
		text-align: right;
	}
.p-prgrph
	{
		text-align: right;"
	}
footer
	{
		margin-top: 5px;
		margin-left: 5px;
		margin-bottom: 30px;
		max-width: 600px;
		text-align: right;
	}
textarea
	{
		text-align: right;
	}