body
	{
		background-color: #FFF4D7;

	}
h6
	{
		text-align: right;
	}
header
	{
		text-align: center;
	}
.main
	{
		margin-right: 350px;
	}
.img-eve
	{
		height: 250px;
	}
.img-saat
	{
		height: 250px;
	}
.line
	{
		width: 275px;
		margin: 3px;
	}
.div-int-msc
	{
		margin: 30px;
		text-align: right;
		max-width: 600px;
	}
.ul-int	
	{
		list-style-type: none;
		margin: 3px;
	}
.img-flag
	{
		vertical-align: middle;
		height:18px;
	}
.div_main
	{
		margin-top: 5px;
		margin-left: -0px;
		max-width: 600px;
		text-align: right;
	}
.p-prgrph
	{
		text-align: right;"
	}
.img_gun
	{
		margin-right: -400px;
		margin-bottom: +200px;
		height: 500px;
		float: right;
	}
.img_izmir_giris
	{
		margin-right: -500px;
		margin-top: +50px;
		height: 300px;
		float: right;
	}
footer
	{
		margin-top: 5px;
		margin-left: 5px;
		margin-bottom: 30px;
		max-width: 600px;
		text-align: right;
	}
textarea
	{
		text-align: right;
	}