body
	{
		background-color: #FFF4D7;

	}
h6
	{
		text-align: right;
	}
.eve
	{
		text-align: center;
	}
header
	{
		max-width: 600px;
		color: #3b0000;
	}
a 	
	{
	color: #3b0000;
	text-decoration: none;
	}
hr	
	{
 	border-top: solid #3b0000 3px;
	}
.main
	{
	}
.img-eve
	{
		height: 250px;
	}
.img-saat
	{
		height: 250px;
	}
.line
	{
		width: 275px;
		margin: 3px;
	}
.div-int-msc
	{
		margin: 30px;
		text-align: right;
		max-width: 600px;
	}
.ul-int	
	{
		list-style-type: none;
		margin: 3px;
	}
.img-flag
	{
		vertical-align: middle;
		height:18px;
	}
.div_main
	{
		margin-top: 5px;
		margin-left: -0px;
		max-width: 600px;
		text-align: right;
	}
.p-prgrph
	{
		text-align: center;
		margin: 50px;
		font: sans-serif;
		font-size: 40px;
		color: #3b0000;
		max-width: 600px;
	}

	}
footer
	{
		margin-top: 5px;
		margin-left: 5px;
		margin-bottom: 30px;
		max-width: 490px;
		text-align: right;
	}
textarea
	{
		text-align: right;
	}